html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, Arial;
}

.main-page {
  display: grid;
  grid-template-columns: 270px 1fr;
  height: 100%;
}

.sidebar {
  background-color: #10a1e4e1;
  display: grid;
  grid-template-rows: 25px 300px 105px;
  row-gap: 70px;
  padding-left: 25px;
  color: white;
  font-weight: 450;
  font-size: 20px;
}

.sidebar-logo {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.sidebar-profile {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  grid-template-columns: 20px 1fr;
  row-gap: 10px;
  column-gap: 15px;
  align-items: center;
}

.sidebar-settings {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  grid-template-columns: 20px 1fr;
  row-gap: 15px;
  column-gap: 15px;
  align-items: center;
}

.main-section {
  background-color: grey;
  height: 100%;
  display: grid;
  grid-template-rows: 170px 1fr;
}

.header {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 70px 1fr;
  grid-template-areas: "search-bar search-bar search-bar search-bar search-bar search-bar search-bar profile-icon profile-icon profile-icon"
                        "profile-section profile-section profile-section profile-section profile-section profile-section profile-buttons profile-buttons profile-buttons profile-buttons";
  
}

.search-bar {
  grid-area: search-bar;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-icon {
  width: 20px;
  height: 20px; 
  object-fit: contain;
  margin: auto;
  margin-left: 40px;

}

.search-bar-input {
  width: 650px;
  height: 25px;
  border-radius: 150px;
  border-style: solid;
  background-color: #E2E8F0;
  border-width: 0px;
  margin-left: 16px;
}

.profile-icon {
  grid-area: profile-icon;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.profile-icon-avatar {
  width: 40px;
  height: 40px; 
  object-fit: contain;
}

.profile-icon-avatar-container {
  padding-left: 20px;
}

.profile-icon-notification {
  width: 25px;
  height: 25px; 
  object-fit: contain;
}

.profile-name {
  text-align: center;
  font-weight: 600;
  padding-left: 20px;
}

.profile-section {
  grid-area: profile-section;
  display: flex;
  align-items: center;
  padding-left: 40px;
}


.profile-section-avatar {
  width: 65px;
  height: 65px;

}

.profile-section-avatar-container {
  width: 82px;
}

.profile-section-text-container {
  display: flex;
  flex-direction: column;
  flex: 100px;
}

.profile-section-greeting {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 550;
}

.profile-section-nickname {
  font-size: 20px;
  font-weight: 600;
}

.profile-buttons {
  grid-area: profile-buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;

}

.profile-button {
  background-color: #118ac3e1;
  color: white;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  border: none;
  margin-right: 25px;
}

.blog {
  background-color: rgba(226,232,240,255);
  display: flex;
}

.blog-container-left {
  width: 830px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.blog-paragraphs {
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 20px;
}

.projects {
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-columns: 400px 400px;
  grid-template-rows: 205px 205px 205px;
}


.project {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  border: none;

}

.yellow-bar {
  background-color: orange;
  height: 100%;
  width: 10px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.project-main {
  width: 390px;
  display: flex;
  flex-direction: column;
}

.project-description {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding-left: 20px;
  padding-top: 30px;
  font-size: 15px;
  color: #585858;
  height: 100px;
}

.project-title {
  font-weight: 700;
  font-size: 16px;
}

.project-icons {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.project-icon {
  width: 23px;
  height: 23px;
  margin-right: 20px;
}

.blog-container-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.announcements-container {
  flex: 1;
}

.announcements-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.announcement {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.announcement-title {
  font-weight: 700;
  font-size: 14px;
}

.announcement-text {
  font-size: 15px;
  color: #585858;
}

.trending-container {
  flex: 1;
  padding-top: 30px;
}


.trending-profile-container {
  display: flex;
  /* background-color: red; */
  align-content: center;
  padding-top: 5px;
  padding-bottom: 5px;

}

.trending-profile-picture, .trending-profile-picture-container {
  width: 40px;
}

.trending-profile-picture {
  border-radius: 20px;
}

.trending-profile-picture-container {
  width: 50px;
}
.trending-profile-description-container {
  display: flex;
  flex-direction: column;
}